*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    background:linear-gradient(180deg, hsl(10 80% 70%), hsl(100 80% 70%), hsl(10 80% 70%) );
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(37, 32, 108, 0.249);
}
.main__header{
    background-color: #3a38383c;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #010015;
    background-color: #008805; 
    padding: 0 10px;
}
.m__header__title{
    font-size: 36px;
    text-align: center;
    margin: 05px auto;
}
.s__image__drunken{
    width:80vw;
    padding: 10px;
    background-color: #3a38383c;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-bottom: 5px;
}
.drunken__img{
    width: 60vw;
    border-radius: 30px;
    box-shadow: 0px 0px 20px red;
}
figcaption{
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.section__tribute__info{
    width:80vw;
    background-color: #3a38383c;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
}
.s__title__list{
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #008805;
    border-radius: 5px;
}
.s__timeline__list li{
    font-size: 20px;
    list-style: none;
    padding: 3px 16px;
}
.s__image__smile{
    width:80vw;
    padding: 10px 0;
    background-color: #3a38383c;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;

}
.jcsmile{
    height:70vh;
    border-radius:30px;
    box-shadow: 0px 0px 20px red;
}
.final-text{
    font-size: 18px;
    font-family: Georgia, Tahoma, sans-serif;
    padding: 5px;
    margin-bottom: 10px;

}
a:hover{
    color:yellow ;
}
.final__section{
    padding: 15px;
    text-align: center;
}
@media screen and (max-width: 400px){
    .jcsmile{
        height: 50vh;
    }
    .drunken__img{
        width: 100%;
    }
}
